!!!
%html
  %head
    %title= SiteConfig.title
    %link{:href => '/css/bootstrap-responsive.css', :rel => 'stylesheet', :type => 'text/css'}
    %link{:href => '/css/bootstrap.css', :rel => 'stylesheet', :type => 'text/css'}
    %link{:href => '/css/main.css', :rel => 'stylesheet', :type => 'text/css'}
    %script{:type => "text/javascript", :src => "http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"}
    %script{:type => "text/javascript", :src => "/js/vendor/bootstrap.js"}   
    %script{:type => "text/javascript", :src => "/js/main.js"}
  %body
    .container
      .span12
        #header
          #logo
            %h1
              %a{:href => '/'}= SiteConfig.title
      .span12= yield
      .clear
      .span12
        %p#legal= "&mdash; &copy; #{Time.now.strftime('%Y')} #{SiteConfig.author} &mdash;"
